@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  
  /* Force browser + OS to treat the site as light only */
  color-scheme: light only;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
